# Gradle
.gradle/
build/
out/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# OS
Thumbs.db
ehthumbs.db
Desktop.ini

# Build / temp artifacts
build/
tmp/
run/
generated/
devlibs/
libs/
processIncludeJars/
loom-cache/
.gradle/
*.zip

# Local gradle distributions
tools/gradle-*/

# Java
*.class
*.log
*.jar
.DS_Store
